In [17]:
import pandas as pd

In [5]:
#Doc.file csv
df=pd.read_csv('/Users/nguyennhi/baitapPandas/data/FoodPrice_in_Turkey.csv',)
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [11]:
#Doc file html
url='https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df=pd.read_html(url)
df[0].head()

,Flag,Map,"English short, formal names, and ISO [1][2][3][4]",Domestic short and formal name(s) [1][2],Capital [3][5][6],Population 2021 [7][8],Area [9],Currency [3]
0,NaN,NaN,Antigua and Barbuda[n 1] ATG,English: Antigua and Barbuda,St. John's,93219,442.6 km2 (171 sq mi),East Caribbean dollar
1,NaN,NaN,"Bahamas, The[n 1] Commonwealth of The Bahamas BHS",English: The Bahamas—Commonwealth of The Bahamas,Nassau,407906,"13,940 km2 (5,382 sq mi)",Bahamian dollar
2,NaN,NaN,Barbados[n 1] BRB,English: Barbados,Bridgetown,281200,431 km2 (166 sq mi),Barbadian dollar
3,NaN,NaN,Belize[n 1][n 2] BLZ,English: Belize,Belmopan,400031,"22,966 km2 (8,867 sq mi)",Belize dollar
4,NaN,NaN,Canada[n 3] CAN,English: Canada French: Canada,Ottawa,38155012,"9,984,670 km2 (3,855,103 sq mi)",Canadian dollar

In [14]:
#Doc file excel
df=pd.read_excel('/Users/nguyennhi/baitapPandas/data/Superstore.xlsx')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,41590,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,2013-11-09,41590,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,2013-06-13,41442,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,2012-10-11,41200,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,2012-10-11,41200,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164